*{
    padding: 0;
    border: 0;
    
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 85vh;

}

nav {
    height: 15vh;
    background-color: teal;
    padding-bottom: 5px;
    font-size: 200px;
    position: relative;
}

h1 {
    margin: 2px;
} 

.instruction {
    padding: 8px;
}


.card1 {
    width: 15vw;
    height: 85vh;
}

.card {
    width: 70vw;
    height: 85vh;

}
.card3 {
    width: 15vw;
    height: 85vh;

}
.card1, .card2, .card3 {
    border-radius: 5px;
    padding-top: 10px; 
    padding-left: 10px; 
    background-color: rgba(36, 147, 147, 0.397);
    /*margin-top: 15px;*/
    
}

.card-image {
   /* object-fit: cover;*/
   
    

    padding-top: 10px;
    padding-left: 10px;
}

ul {
    
    line-height: 1.25;
    font-size:20px;
    margin-left: 15px;
    margin-top: 10px;
}

p {
    align-content: flex-end;
}

.pagination {
    align-content: center;
}

.card-title {
    font-size: 15pt;
}